html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}
main {
    position: fixed;
    top: 50px;
    left: 50px;
    height: 310px;
    width: 400px;
}

.iFrameSelector {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
}
::-webkit-scrollbar {
    width: 0px;
}

